{{ 'recipie-products.css' | asset_url | stylesheet_tag }}
<script src="{{ 'recipie-products.js' | asset_url }}" defer></script>
<section
  class="recipe-slider"
  style="background-color: {{ section.settings.background_color }};"
>
  <div class="recipe-slider__wrapper">
    {% if section.settings.heading != blank %}
      <div class="recipe-slider__header">
        <h2 class="recipe-slider__heading">
          {{ section.settings.heading }}
        </h2>
      </div>
    {% endif %}

    <div class="recipe-slider__container">
      <button
        type="button"
        class="recipe-slider__button recipe-slider__button--prev"
        aria-label="Previous"
      >
        <svg
          class="w-[30px] max-w-[30px] h-[26px] max-h-[26px]"
          width="26"
          height="30"
          viewBox="0 0 26 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26 14.9432L11.5969 20.5387L-0.000222087 30L2.34005 14.9986L0.000217438 -6.67176e-05L11.332 9.24475L26 14.9432Z" fill="#112626"></path>
        </svg>
      </button>

      <div class="recipe-slider__viewport">
        <div class="recipe-slider__rail">
          {% assign blog = blogs[section.settings.blog] %}

          {% for article in blog.articles limit: section.settings.articles_to_show %}
            <div class="recipe-card">
              <a href="{{ article.url }}" class="recipe-card__link">
                <div class="recipe-card__image">
                  {{ article.image | image_url: width: 600 | image_tag: loading: 'lazy' }}
                </div>

                <div class="recipe-card__content">
                  <h3 class="recipe-card__title">
                    {{ article.title }}
                  </h3>

                  <div class="recipe-card__meta">
                    <span class="recipe-card__servings">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="15"
                        viewBox="0 0 12 15"
                        fill="none"
                        aria-hidden="true"
                      >
                        <path d="M9.64639 4.99763C8.25511 5.4955 6.98808 6.48821 5.98242 7.86853L1.21598 14.4107L0.791284 14.1012L5.55772 7.55911C6.56323 6.179 7.11984 4.6687 7.16754 3.19194C7.18525 2.6449 7.38754 2.07944 7.73724 1.59947C8.55289 0.479949 9.94507 0.10041 10.8412 0.753293C11.7375 1.40632 11.8029 2.84783 10.9873 3.96735C10.6377 4.44717 10.1615 4.81297 9.64639 4.99763ZM11.0006 0.534468C9.98389 -0.206282 8.42174 0.199732 7.5182 1.43989C7.13692 1.9632 6.91637 2.58226 6.89738 3.18306C6.8514 4.60544 6.31221 6.06332 5.33869 7.39952L0.492385 14.0513C0.448451 14.1116 0.461983 14.1966 0.522284 14.2406L1.16582 14.7094C1.22612 14.7533 1.31102 14.74 1.35496 14.6797L6.20126 8.02797C7.17478 6.69176 8.39765 5.73198 9.73781 5.25227C10.3035 5.04969 10.825 4.64989 11.2061 4.12678C12.1097 2.88662 12.0175 1.27536 11.0006 0.534468Z" fill="white"></path>
                      </svg>
                      Serves {{ article.metafields.custom.servings }}
                    </span>

                    <span class="recipe-card__cook-time">
                      <svg xmlns="http://www.w3.org/2000/svg" width="11" height="12" viewBox="0 0 11 12" fill="none">
                        <mask id="mask0_1_217" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="11" height="12">
                        <path d="M0.455627 0.106689H10.6677V11.3367H0.455627V0.106689Z" fill="white"></path>
                        </mask>
                        <g mask="url(#mask0_1_217)">
                        <path d="M5.57754 0.10907C5.24464 0.10907 4.91403 0.145626 4.58572 0.213863C4.25971 0.282101 3.94058 0.384458 3.63294 0.520933C3.32299 0.657409 3.03142 0.823129 2.75362 1.02053C2.47582 1.2155 2.21868 1.43971 1.98221 1.69072C1.74573 1.94174 1.53451 2.21469 1.35084 2.50958C1.16488 2.80446 1.00876 3.11397 0.88019 3.44297C0.751621 3.76954 0.655194 4.10829 0.59091 4.45435C0.52433 4.80285 0.492188 5.15379 0.492188 5.5096C0.492188 5.86297 0.52433 6.21391 0.59091 6.56241C0.655194 6.90847 0.751621 7.24722 0.88019 7.57379C1.00876 7.90279 1.16488 8.2123 1.35084 8.50719C1.53451 8.80207 1.74573 9.07502 1.98221 9.32604C2.21868 9.57706 2.47582 9.80127 2.75362 9.99623C3.03142 10.1936 3.32299 10.3594 3.63294 10.4958C3.94058 10.6323 4.25971 10.7347 4.58572 10.8029C4.91403 10.8711 5.24464 10.9077 5.57754 10.9077C5.91274 10.9077 6.24334 10.8711 6.57165 10.8029C6.89766 10.7347 7.21679 10.6323 7.52444 10.4958C7.83438 10.3594 8.12595 10.1936 8.40376 9.99623C8.68155 9.80127 8.93869 9.57706 9.17517 9.32604C9.41164 9.07502 9.62286 8.80207 9.80653 8.50719C9.9925 8.2123 10.1486 7.90279 10.2772 7.57379C10.4058 7.24722 10.5022 6.90847 10.5665 6.56241C10.6307 6.21391 10.6652 5.86297 10.6652 5.50716C10.6629 5.15379 10.6307 4.80285 10.5665 4.45435C10.4999 4.10829 10.4035 3.76954 10.2749 3.44297C10.1486 3.1164 9.9902 2.80446 9.80653 2.50958C9.62057 2.21713 9.40935 1.94418 9.17287 1.69316C8.9364 1.44214 8.67926 1.21793 8.40376 1.02053C8.12595 0.825566 7.83208 0.657409 7.52444 0.52337C7.21679 0.386895 6.89766 0.284539 6.56936 0.213863C6.24334 0.145626 5.91274 0.10907 5.57754 0.10907ZM5.57754 10.43C5.27448 10.43 4.97373 10.3983 4.67297 10.3374C4.3745 10.2741 4.08522 10.179 3.80283 10.0572C3.52274 9.93287 3.25641 9.78177 3.00157 9.60143C2.74903 9.42108 2.51485 9.21881 2.29904 8.98972C2.08323 8.76064 1.89267 8.51206 1.72277 8.24398C1.55288 7.97347 1.41054 7.69077 1.29345 7.39101C1.17865 7.09369 1.08911 6.78662 1.02942 6.4698C0.969729 6.15055 0.942178 5.83129 0.942178 5.5096C0.942178 5.18547 0.969729 4.86622 1.02942 4.54696C1.08911 4.23014 1.17865 3.92307 1.29345 3.62575C1.41054 3.32599 1.55288 3.04329 1.72277 2.77278C1.89267 2.5047 2.08323 2.25612 2.29904 2.02704C2.51485 1.79795 2.74903 1.59568 3.00157 1.41534C3.25641 1.23499 3.52274 1.08389 3.80283 0.959605C4.08522 0.837751 4.3745 0.742706 4.67297 0.679342C4.97143 0.618416 5.27448 0.586734 5.57754 0.586734C5.88289 0.586734 6.18365 0.618416 6.48441 0.679342C6.78287 0.742706 7.07215 0.837751 7.35225 0.959605C7.63464 1.08389 7.90096 1.23499 8.1558 1.41534C8.40835 1.59568 8.64253 1.79795 8.85834 2.02704C9.07415 2.25612 9.26471 2.5047 9.4346 2.77278C9.6045 3.04329 9.74684 3.32599 9.86393 3.62331C9.97872 3.92307 10.0683 4.23014 10.128 4.54696C10.1854 4.86378 10.2152 5.18547 10.2152 5.50716C10.2152 5.83129 10.1854 6.15055 10.1257 6.46736C10.066 6.78418 9.97872 7.09369 9.86163 7.39101C9.74454 7.69077 9.6022 7.97347 9.4323 8.24155C9.26471 8.50962 9.07185 8.7582 8.85604 8.98729C8.64023 9.21637 8.40605 9.42108 8.15351 9.59899C7.90096 9.77933 7.63464 9.93043 7.35225 10.0547C7.07215 10.179 6.78058 10.2716 6.48211 10.335C6.18365 10.3983 5.88289 10.43 5.57754 10.43Z" fill="white"></path>
                        </g>
                        <path d="M5.58814 6.10059V2.27294C5.58814 2.20152 5.57161 2.14068 5.53672 2.09042C5.49999 2.04016 5.45775 2.01636 5.40817 2.01636C5.36043 2.01636 5.31819 2.04016 5.28146 2.09042C5.24657 2.14068 5.23004 2.20152 5.23004 2.27294V6.2064C5.23004 6.27782 5.24657 6.33866 5.28146 6.39157L6.83322 8.62414C6.86811 8.6744 6.91035 8.70085 6.95993 8.70085C7.00951 8.70085 7.05175 8.6744 7.08664 8.62414C7.12153 8.57388 7.1399 8.51304 7.1399 8.44162C7.1399 8.3702 7.12153 8.30936 7.08664 8.2591L5.58814 6.10059Z" fill="white"></path>
                      </svg>
                      {{ article.metafields.custom.cook_time }}
                    </span>

                    <span class="recipe-card__product"> {{ article.metafields.custom.related_products.value.title  }} </span>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

      <button
        type="button"
        class="recipe-slider__button recipe-slider__button--next"
        aria-label="Next"
      >
        <svg
          class="w-[30px] max-w-[30px] h-[26px] max-h-[26px]"
          width="26"
          height="30"
          viewBox="0 0 26 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26 14.9432L11.5969 20.5387L-0.000222087 30L2.34005 14.9986L0.000217438 -6.67176e-05L11.332 9.24475L26 14.9432Z" fill="#112626"></path>
        </svg>
      </button>
    </div>

    {% if section.settings.button_label != blank %}
      <div class="recipe-slider__footer">
        <a
          href="{{ section.settings.button_link }}"
          class="recipe-slider__cta"
        >
          {{ section.settings.button_label }}
        </a>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Recipe Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "What's cooking with smithey"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Recipe Blog"
    },
    {
      "type": "range",
      "id": "articles_to_show",
      "label": "Recipes to show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "VIEW ALL RECIPES"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#112626"
    }
  ],
  "presets": [
    {
      "name": "Recipe Slider"
    }
  ]
}
{% endschema %}
